<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Registrar Trabajador-Labor</title>
</head>
<body>
    <div class="container mt-5">
        <div>
            <a href="{{ url_for('index') }}">&lt; Regresar</a>
        </div>
        <h1 class="text-center">Registrar Trabajador-Labor</h1>
        <form method="post">
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" id="fecha" name="fecha" required>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="text" class="form-control" id="cantidad" name="cantidad" required>
            </div>
            <div class="form-group">
                <label for="id_trabajador">ID Trabajador:</label>
                <input type="text" class="form-control" id="id_trabajador" name="id_trabajador" required>
            </div>
            <div class="form-group">
                <label for="id_labor">ID Labor:</label>
                <input type="text" class="form-control" id="id_labor" name="id_labor" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</body>
</html>
